{% extends "coda/coda/coda_base.html" %}
{% load staticfiles %}

{% block title %}Confirm Delete?{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete all resources?")) {
                document.scrubber_form.submit();
            } else {
                return false;
            }
        }
    </script>
{% endblock %}

{% block results %}

    <div id="splash">
        <div class="sidebar">
            <h2>Project Info</h2>
            <p>Project Name: {{ project_info.tenant.name }}</p>
            <p>Project ID: {{ project_info.tenant.id}}</p>
            <p>Enabled: {{ project_info.tenant.enabled }}</p>
            <p>Description: {{ project_info.tenant.description}}</p>
            <input type="hidden" name="project_id" value="{{ project_id }}">
            {% if users %}
            <h4>Users:</h4>
                {% for user in users %}
                <p>Name: {{ user.name }}</p>
                <p>Username: {{ user.username }}</p>
                <p>ID: {{ user.id }}</p>
                <p>Enabled: {{ user.enabled }}</p>
                <p>E-Mail: {{ user.email }}</p>
                {% endfor %}
            {% else %}
            <h4>No Users in this Project</h4>
            {% endif %}
        </div>

        <div id='content_body'>
            <div class="warning">
                <h2 class="warning-text">WARNING!</h2>
                <h3 class="warning-text"> You are about to delete all resources this project. This action cannot be undone.</h3>
            </div>
            <div class="row large-rounded">
                <div id="login" class="confirm">
                    <div class="modal-header">
                        <h3>Enter Admin Credentials to Continue</h3>
                    </div>

                    <form id="delete_form" action="{% url 'horizon:coda:coda:delete_resources' %}" method="post">
                    {% csrf_token %}
                        <div class="modal-body clearfix">
                            <div class="messages"></div>

                            <fieldset>
                                <input type="hidden" name="domainId" value="{{ domain_id }}">
                                <div class="control-group form-field clearfix ">
                                    <label for="os_username">OS_USERNAME</label>
                                    <div class="input">
                                        <input autofocus="true" id="os_username" name="os_username" tabindex="10" type="text">
                                    </div>
                                </div>

                                <div class="control-group form-field clearfix ">
                                    <label for="os_password">OS_PASSWORD</label>

                                    <div class="input">
                                        <input id="os_password" name="os_password" tabindex="20" type="password">
                                    </div>
                                </div>

                                <div class="control-group form-field clearfix ">
                                    <label for="os_tenant_id">OS_TENANT_ID</label>
                                    <div class="input">
                                        <input id="os_tenant_id" name="os_tenant_id" tabindex="30" type="text">
                                    </div>
                                </div>
                                <input type="hidden" name="project_id" value="{{ project_id }}">
                            </fieldset>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-right" tabindex="40">Delete Resources</button>
                            <a href="{% url 'horizon:coda:coda:index' %}">
                                <input class="btn pull-right" type="button" value="Cancel" />
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
